*.properties
*.war
*.idea
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
*.bak
*.settings/
*.classpath
*.project
.metadata/
.idea/
logs/
*.log
dependency-reduced-pom.xml
classes/
bin/
setting/
.idea
idea/*
*.properties
