<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.springboot.mybatis.dao.ILoginMapper">


  <select id="findByObject" resultType="me.springboot.mybatis.model.LoginUser">
    select
        id,name,password
    from user
    where name=#{name,jdbcType=VARCHAR} and password=#{password}
  </select>
</mapper>
